body {
  padding: 0;
  margin: 0;
}
.addAddress {
  background-color: #f8f8f8;
  height: 100vh;
  padding: 16px 10px;
  .addAddress-input {
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    height: 48px;
    margin-bottom: 12px;
    &-label {
      font-size: 14px;
      color: #333;
    }
    &-value {
      display: flex;
      align-items: center;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .addAddress-textarea {
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 14px 16px;
    margin-top: 12px;
    margin-bottom: 16px;
    &-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }
    &-label {
      font-size: 14px;
      color: #333;
    }
    &-desc {
      color: #999;
      font-size: 12px;
    }
  }
  .nut-textarea {
    border-radius: 4px;
    padding: 16px !important;
    .nut-textarea-textarea {
      height: 68px !important;
    }
  }
  .nut-input {
    padding: 0;
  }
  .mb-12 {
    margin-bottom: 12px;
  }
}
